In [ ]:
import pandas as pd
import os

In [79]:
high_schools = ["Hernandez High School", "Figueroa High School",
                "Wilson High School","Wright High School"]

for school in high_schools:
    print(school)

Hernandez High School
Figueroa High School
Wilson High School
Wright High School

In [80]:
high_school_types = [{"High School": "Griffin", "Type":"District"},
                    {"High School": "Figueroa", "Type": "District"},
                    {"High School": "Wilson", "Type": "Charter"},
                    {"High School": "Wright", "Type": "Charter"}]

for row in high_school_types:
  print(row["High School"])

Griffin
Figueroa
Wilson
Wright

In [81]:
high_schools = ["Huang High School",  "Figueroa High School", "Shelton High School", "Hernandez High School","Griffin High School","Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School","Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]
school_series = pd.Series(high_schools)
school_series

0         Huang High School
1      Figueroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6       Cabrera High School
7        Bailey High School
8        Holden High School
9          Pena High School
10       Wright High School
11    Rodriguez High School
12      Johnson High School
13         Ford High School
14       Thomas High School
dtype: object

In [82]:
import pandas as pd 
high_school_dicts = [{"School ID": 0, "school_name": "Huang High    School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]
district_series = pd.DataFrame(high_school_dicts)
district_series

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [83]:
students_to_fix = []
prefixes = []
suffixes = []

school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

student_data_df = pd.read_csv(student_data_to_load)
school_data_df = pd.read_csv (school_data_to_load)

student_names= student_data_df["student_name"].tolist()
for name in students_to_fix:
    if len(name.split()[0]) <= 4:
        prefixes.append(name.split()[0])
        
for name in students_to_fix:
    if len(name.split()[-1]) <=3:
        suffixes.append(name.split()[-1])
        
print(len(students_to_fix))
print(set(suffixes)) 
print(set(prefixes))

1531
{'Cox', 'DDS', 'Li', 'Lee', 'IV', 'Roy', 'V', 'III', 'DVM', 'MD', 'Day', 'Jr.', 'II', 'Kim', 'PhD'}
{'Kyle', 'Ryan', 'Seth', 'Gina', 'Amy', 'Todd', 'Jodi', 'Emma', 'Jill', 'Erik', 'Troy', 'Chad', 'Tony', 'Mr.', 'Dr.', 'Tina', 'Paul', 'Ruth', 'John', 'Judy', 'Erin', 'Eric', 'Cory', 'Gail', 'Mary', 'Miss', 'Noah', 'Gary', 'Jon', 'Cody', 'Marc', 'Mike', 'Ian', 'Mark', 'Leah', 'Joe', 'Dawn', 'Greg', 'Mrs.', 'Ms.', 'Carl', 'Kara', 'Omar', 'Sean', 'Jose', 'Lori', 'Anne', 'Tara', 'Sara', 'Dale', 'Anna', 'Dana', 'Toni', 'Luke', 'Kari', 'Lisa', 'Lynn', 'Kim', 'Adam'}

In [ ]:
for name in student_names:
    name_length = len(name.split())
    if name_length >= 3:
        students_to_fix.append(name)

In [3]:
def say_hello():
    print("Hello!")

In [4]:
say_hello()

Hello!

In [85]:
missing_grades_data_df = pd.read_csv(missing_data_to_load)
missing_grades_data_df.fillna(85)

   Student ID       student_name gender grade  reading_score  math_score
0           0       Paul Bradley      M   9th           66.0        79.0
1           1       Victor Smith      M  12th           94.0        61.0
2           2    Kevin Rodriguez      M  12th           85.0        60.0
3           3  Dr. Richard Scott      M  12th           67.0        58.0
4           4         Bonnie Ray      F   9th           97.0        84.0
5           5      Bryan Miranda      M   9th           94.0        85.0
6           6      Sheena Carter      F  11th           82.0        80.0
7           7       Nicole Baker      F  12th           96.0        69.0

In [1]:
class Cat:
    def __init__(self, name):
        self.name = name

In [2]:
first_cat = Cat('Felix')
print(first_cat.name)

Felix

In [87]:
class Dog:
    def __init__(self, name, color, sound):
        self.name = name
        self.color = color
        self.sound = sound

    def bark(self):
        return self.sound + ' ' + self.sound

In [88]:
first_dog = Dog('Fido', 'brown', 'woof!')
print(    first_dog.name)
print(first_dog.color)
first_dog.bark()

Fido
brown

'woof! woof!'